# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# folder
lib/
bin/*.dll
build/vc10/Debug/
external/cJSON/Debug/
external/cJSON/*.lib
*.sdf
*.suo
*.user
*.opensdf
